.info-contain {
    background-color: rgba(5,5,5,.5);
    width: 100%;
    min-width: 150px;
    color: #FAFAFA;
    height: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0 0;
    position: fixed;
    bottom: 0;
    left: 0;
}

.bar {
    padding: 0 4%;
    line-height: 55px;
    font-family: 'Amatica SC', cursive;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 30px;
    transition: all 0.5s ease;
    height: 100%;

    &:hover,
    &:hover > .info-contain {
        color: #eb4f87;
        cursor: pointer;
    }
}
