.more-info-contain {
    position: absolute;
    width: 45%;
    background-color: rgba(5,5,5,.5);
    color: #FAFAFA;
    bottom: 60px;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0 0;
    position: fixed;
    left: 0;

    p {
        font-size: 14px;
        letter-spacing: 2px;
        line-height: 1.5;
        font-family: 'Space Mono', monospace;
        padding: 10px 20px;
        bottom: 0;
        //  position: absolute;
    }
}
